
# Ambiente Virtuale
.venv/
venv/
env/

# Python (file temporanei)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Dati pesanti 
data/
*.zip
*.tar.gz

# Logs e risultati pesanti
logs/

# Sistema Operativo
.DS_Store

# IDE (VS Code)
.vscode/

Notes.txt

