
# Ambiente Virtuale
.venv/
venv/
env/

# Python (file temporanei)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Dati pesanti (fondamentale ignorarli)
data/
*.zip
*.tar.gz

# Logs e risultati pesanti
# Se vuoi caricare i risultati nel README, ti consiglio di spostare 
# le immagini che ti servono in una cartella 'docs/' o 'assets/'
logs/

# Sistema Operativo (Mac)
.DS_Store

# IDE (VS Code)
.vscode/

Notes.txt

